# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Node.js
node_modules/
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
build/
dist/
.cache/
*.tsbuildinfo

# Static files
*.log
*.lock
public/static/

# OS-specific
.DS_Store
Thumbs.db

# Vite/Next.js
.vite/
.next/

# IDE-specific
.vscode/
.idea/

# Git-specific
.git/
.gitconfig
